body{
    width: 320px; /* your desired width */
    height: 1280px; /* your desired width */
    min-width: 320px;
    min-height: 1280px;

    overscroll-behavior-y: none;

    font-family: Arial, Helvetica, sans-serif;

    
    margin: 0;
    color: white;

    background-color: black;
}

.container-header-buttons{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    height: 50px;
}

.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: #4f4f4f;
    padding: 0;
    font-size: 20px;
    z-index: 1000; /* Ensure it stays above other content */
    margin: 0;
}

.content {
    padding: 20px;
}


#image-usericon-bg{
    width: 64px;
    height: 64px;

    
    background-color: #383838;
}

.button-header{
    background-color: #4f4f4f;
    width: 25%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    color: white;
}

.button-header:hover{
    background-color: #383838;
}

.button-header-selected{
    background-color: #383838;
    width: 25%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    color: white;
}

#image-usericon{
    width: 48px;
    height: 48px;

    border-radius: 50%;

    margin: 8px;
    
}

.container-userheader{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#label-username{
    text-wrap: nowrap;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    font-size: larger;
    color: white;
    
    font-weight: bold;
    
    margin-left: 20px;
    
}

#container-notices{
    background-color: white;
    color: black;
}

.hidden{
    display: none;
}

.item-classmark{
    display: flex;
}

.label-mark-classname{
    margin-right: 10px;
    font-weight: bold;
    
}